.App {
  position: relative;
  display: flex;
  height: calc(100vh - 0.7rem);
}

.map {
  flex: 1;
  height: calc(100% - 1rem);
  background-color: rgb(245, 245, 245);
}

.aside_panel {
  display: flex;
  flex-direction: column;
}